header {
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 1em;
}

nav {
  height: 100%;
  background-color: white;
}

nav > ul {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
